
		body
		{
			padding: 0px;
			margin: 0px;
		}
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
		  transition: 0.3s;
		  width: 30%;
		  display:inline-block;

		}
		
		.card:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		
		.container {
		  padding: 2px 16px;
		}
		.card1{
			box-shadow: 0 4px 8px 0 black;
		  transition: 0.3s;
		  width: 30%;
		  display:inline-block;
		
		}
		.home{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}
/*
.volunterr{
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
		  transition: 0.3s;
		  width: 15%;
		  display:inline-block;
		  padding: 1%;
		  margin: 1%;

}
.volunterr:nth-child(even)
{
	  box-shadow: 0 4px 8px 0 #eb8f8f;
	

}

.volunterr:nth-child(odd)
{
	  box-shadow: 0 4px 8px 0 #07689f;
	  padding: 1%
	
}

.volunterr:hover{
	background-color:#e8e8e8; 
}

*/
/*
.m
{
position: static;
	overflow: hidden;
  background-color:black;

display:flex;
justify-content: flex-end;
position: fixed;
width: 100%;
top:0px;
right: 0px;
}

.m li a{
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Crimson Text', serif;
    font-family: 'Gentium Book Basic', serif;
    font-family: 'Cantata One', serif;


 
}
.m li a:hover{
	color:white;
	background-color: black;
}
.headerline
{
padding:10px;


}*/
.index{
	height: 600px;
	width: 100%;

}

nav{
	display:flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;;
background-color: #333;

}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li{
	list-style: none;
}
.nav-links a{
	color: rgb(226,266,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 16px;
}

.burger{
	display: none;
}
.burger div{
width:25px;
height:3px;
background-color:rgb(226,226,226);
margin:5px;
}


.Moredetails{
height: 600px;
	width: 100%;

}

.Contact{
height: 600px;
	width: 100%;

}
.Project{
height: 600px;
	width: 100%;

}


.blue{
	background-color: black
	;
	
}

.links
{
	color: black;
	background-color: #ffcb8e;
	padding: 20px;
	font-size: 20px;


}

.Resume
{

	color: black;
	background-color: #e97171;
	padding: 20px;
	font-size: 10px;

}

a{
	color: black;
}
@media screen and (max-width:1024px){
.nav-links{
	width: 60%;
}
}
/* media here*/
@media screen and (max-width:760px){
	
	.containerr{
    	font-size: 10px;

    }
    .card1{
		  width: 30%;

	visibility: hidden;	  
		}
		
    img{
        width: 100px;
        height: 100px;
   		margin: -20px;     
    }
    h1{
    	font-size: 15px;
    }
    li{
    	font-size: 15px;
    }
    h4 {
    	font-size: 10px;
    }
    p{
   font-size: 10px;
    	
    }
    .headerline{
    font-size: 5px;
    padding: 5px;
    	
    }
    a{
    font-size: 15px;
    	
    }
    h3{
    	font-size: 15px;
    }
    progress{
   font-size: 15px;
    	
	}
	

	.product-container{
		
	display: flex;
	flex-direction: column;
	
}
.skill{
	margin-top: 1000px;
	height: 1000px;
}
.nav-links{
	position: absolute;
	right: 0px;
	height: 10vh;
	top:5vh;
	width: 100%;
	background-color: #333;
}
}

/* media here*/

.event{
	height: 40%;
	width: 20%;
}
headerline a:hover{
background-color: rgba(149, 201, 6, 0.76);
padding: 20px;
}


h1 a:hover{
background-color: black;

padding: 10px;
border-radius: 20px;
}


a{
	color: black;
}



.blue{
background-color: black
;
 box-shadow: 10px 10px;
color: white;	
}

.links
{
	display:block;
	color: black;
	padding: 50px;
	font-size: 20px;
	size: 20px;
	background-color: #e8e8e8;
	


}

.Resume
{

	color: black;
	background-color: #e97171;
	padding: 20px;
	font-size: 20px;

}
img{
	 border-radius: 10%;
	 float: left;
	 padding: 40px;
}
.maininfo
{
	padding: 40px;
	height: 40%;
	width: 70%;
}

.main1{
	background-color: hsla(0, 100%, 30%, 0.3);


}

ol
{

overflow: hidden;
 background-color: #333;

}
/*
prespective
	transform-style:preserve-3d;
	backface-visibility: hidden;  magcha nhi disat
	object-fit: cover;
	display: flex;

*/

.product-container{
	width:90%;
	display: flex;
	justify-content: space-around;
	padding: 70px;
	
	}

.product{
	perspective:2000px;
	width: 250px;
	height: 250px;
	padding: 20px;

}


.sides{
	width: inherit;
	height: inherit;
	transform-style:preserve-3d;
	transition:all 0.5s;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding: 10px;
}

.front , .back{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 10px;
}

.front{
	overflow: hidden;
}

.front img{
	width: 100%;
	height: 100%;
	object-fit: fill;
	padding: 0;
}
.back{
	background-color:#F2F3F4 ;
	transform:rotateX(180deg);
	display: flex;
justify-content: center;
align-items: center;
text-align: center;
}


.back::before{
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 10px solid black;
	transform: translateZ(100px);

}

.back p{
	transition:translateZ(100px);
	padding: 0 25px;
	color: #222;
}

.product:hover .sides{transform:rotateX(180deg);}

